/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы
  составлять селекторы для разных цветовых тем. */
  background-color: var(--background-color);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  height: 100vh;
  min-height: 668px;
  grid-template-rows: 1fr auto 1fr;
  padding: 10px;
}

/* Надпись REC и обводка */
.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--decor-color);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.rec {
  position: absolute;
  padding-top: 10px;
  padding-right: 19px;
  justify-self: end;
  display: var(--rec-display, flex);
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-size: 18px;
}

.rec::after {
  content: '';
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}
/* Надпись REC и обводка */

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header_title {
  justify-self: start;
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--header-title-color);
  line-height: 83%;
}

.header_description {
  max-width: 355px;
  justify-self: end;
  align-self: center;
}

.title_decor {
  background-color: var(--accent-color);
  color: var(--title-text-color);
  font-weight: bold;
  font-size: inherit;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  color: var(--decor-color, #ff0070);
  text-transform: lowercase;
  padding: 1.5px 13px;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decor-color);
  outline-offset: 2px;
  pointer-events: none;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  outline: 1px solid hsl(0, 40%, 50%);
  outline-offset: 2px;
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--decor-color);
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.main {
  background-color: var(--background-color);
  padding-left: 10px;
  padding-right: 10px;
}

.section {
  display: grid;
}

.indent_pochemy {
  padding-top: 40px;
  align-items: start;
  align-content: start;
}

.header_decor {
  color: var(--decor-color);
  font-size: inherit;
  padding-bottom: 20px;
}

.indent_text_decor {
  color: var(--indent-text-color);
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 23.4px;
  letter-spacing: 0%;
  font-size: 18px;
}

.indent_chto {
  margin-top: 30px;
}

.indent_kak {
  margin-top: 30px;
  align-items: start;
  align-content: start;
}

.indent_kak_decor {
  font-weight: normal;
  margin-top: 20px;
}

.indent_kak_decor_text {
  padding-bottom: 0px;
}

.title_images {
  margin-top: 50px;
  margin-bottom: 10px;
}

.images_5 {
  display: grid;
  grid-template-columns: 5;
  padding-bottom: 40px;
}

.images_decor {
  max-width: 355px;
  margin-top: 10px;
}

.footer {
  display: grid;
  height: 100vh;
  background-color: var(--background-color);
}

.footer_title {
  justify-self: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .sectionA {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .header {
    padding: 20px;
  }

  .main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .indent_pochemy {
    display: grid;
    padding-top: 60px;
  }

  .indent_pochemy > h2 {
    grid-column: 1;
  }

  .indent_pochemy > h3,
  .indent_pochemy > p {
    grid-column: 2;
  }

  .indent_chto {
    margin-top: 60px;
  }

  .header_3indent {
    max-width: 236px;
  }

  .indent_kak {
    display: grid;
    margin-top: 60px;
  }

  .indent_kak > h2 {
    grid-column: 1;
  }

  .indent_kak > h3,
  .indent_kak > p {
    grid-column: 2;
  }

  .images_decor {
    max-width: 479px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }

  .images_5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 60px;
    height: 780px;
  }

  .images_5 > :nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
  }

  .images_5 > :nth-child(2) {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .images_5 > :nth-child(3) {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .images_5 > :nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .images_5 > :nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .header_description {
    max-width: 364px;
  }
}

@media (min-width: 1024px) {
  .indent_chto_a {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .indent_chto_a h3:first-child {
    margin-top: 0;
  }

  .images_decor {
    max-width: 649px;
  }

  .images_5 {
    height: 1048px;
  }

  .header_description {
    max-width: 491px;
  }

  .header_3indent {
    max-width: 315px;
  }

  .header_title {
    font-size: 157px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
}

.text-link {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid currentColor;
}

.text-link:focus {
  outline: 1px solid var(--indent-text-color);
}
